<div class="container">
    <div class="nav">
      <h2>Ollie</h2>
      <ul>
        <li>sign up</li>
        <li>search bikes</li>
        <li>reserve a bike</li>
        <li>about us</li>
      </ul>
    </div>
    <div class="main">
      <h1>Cities</h1>
      <h4>Where you can use Ollie</h4>
      <ul>
        <li>San Francisco</li>
        <li>Los Angeles</li>
        <li>Austin</li>
        <li>Portland</li>
        <li>New Orleans</li>
        <li>Seattle</li>
        <li>Philadelphia</li>
        <li>New York</li>
        <li>Boston</li>
        <li>Raleigh</li>
        <li>Washington, DC</li>
        <li>Paris</li>
        <li>London</li>
        <li>Madrid</li>
      </ul>
    </div>
  </div>